spring:
  config:
    activate:
      on-profile: prod
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:?}
  datasource:
    url: ${DB_URL:?}
    username: ${DB_USER:?}
    password: ${DB_PASSWORD:?}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}

app:
  security:
    jwt:
      audience: ${KEYCLOAK_AUDIENCE:user-service}
      user-id-claim: ${KEYCLOAK_USER_ID_CLAIM:user_id}

services:
  s3:
    endpoint: ${S3_ENDPOINT:?}
    access-key: ${S3_ACCESS_KEY:?}
    secret-key: ${S3_SECRET_KEY:?}
    bucket-name: ${S3_BUCKET:?}
    region: ${S3_REGION:us-east-1}
    url-expiration: ${S3_URL_EXPIRATION:PT120H}

clients:
  project-service: ${PROJECT_SVC_URL:?}
  payment-service: ${PAYMENT_SVC_URL:?}

user:
  avatar:
    storage-path: ${AVATAR_STORAGE_PATH:avatars}
    sizes:
      thumbnail:
        max-side: ${AVATAR_THUMBNAIL_MAX_SIDE:170}
      profile:
        max-side: ${AVATAR_PROFILE_MAX_SIDE:1080}
    allowed-mime-types:
      - ${AVATAR_ALLOWED_MIME_TYPE_1:image/jpeg}
      - ${AVATAR_ALLOWED_MIME_TYPE_2:image/png}
      - ${AVATAR_ALLOWED_MIME_TYPE_3:image/webp}
