spring:
  config:
    activate:
      on-profile: local
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090/realms/users
  datasource:
    url: jdbc:postgresql://localhost:5432/user_service
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    # Подходит подробный вывод SQL в консоль, поэтому настройка включена.
    show-sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    contexts: local
  data:
    redis:
      host: localhost
      port: 6379

app:
  security:
    jwt:
      audience: user-service
      user-id-claim: user_id

services:
  s3:
    endpoint: http://127.0.0.1:9000
    access-key: user
    secret-key: password
    bucket-name: corpbucket
    region: us-east-1
    url-expiration: PT120H

clients:
  project-service: http://localhost:8082
  payment-service: http://localhost:9080
